<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IDP Generator | Homepage</title>
    <link rel="icon" href="../font/assets/logo/idplogo.png" />
    <link rel="stylesheet" href="./stylesheet/content/header.css" />
    <link rel="stylesheet" href="./stylesheet/content/home.css" />
    <!--extra style-->
    <link rel="stylesheet" href="../font/fontawesome/css/all.css" />
    <link rel="stylesheet" href="../font/preloader/loader.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>
  <body ondragstart="return false" onselectstart="return false">
    <header class="header">
      <a class="logo">
        <img src="../font/assets/logo/idplogo.png" class="img-logo" />
        <div class="logo-text">
          WMSU
          <p>INDIVIDUAL DAILY PROGRAM</p>
        </div>
      </a>
      <div class="pG">
        <p id="page-title">Home</p>
      </div>
      <input type="checkbox" class="menu-btn" id="menu-btn" />
      <label for="menu-btn" class="menu-icon">
        <span class="nav-icon"></span>
      </label>
      <ul class="menu">
        <li id="dashboard-mobile">
          <a class="active" href="./home.html" id="slide-home">
            <p class="fas fa-home"></p>
            Home
          </a>
        </li>
        <li id="dashboard-mobile">
          <a href="./dashboard.html" id="slide-dashboard">
            <p class="far fa-tachometer-alt"></p>
            Dashboard
          </a>
        </li>
        <li id="settings-mobile">
          <div class="dropdown-nav">
            <p class="far fa-cog"></p>
            <span class="nav-title" id="settings">IDP Settings</span>
            <hr />
            <div class="dropdown-content-nav">
              <span
                ><a href="./myIDP.html" id="slide-faculty"
                  ><p class="far fa-calendar"></p>
                  My Schedule</a
                ></span
              >
            </div>
          </div>
        </li>
        <li id="settings-mobile">
          <div class="dropdown-nav">
            <p class="far fa-cog"></p>
            <span class="nav-title" id="settings">General Information</span>
            <hr />
            <div class="dropdown-content-nav">
              <span
                ><a href="./matrix.html" id="slide-matrix"
                  ><p class="far fa-cogs"></p>
                  Matrix</a
                ></span
              >
              <span
                ><a href="./officials.html" id="slide-officials"
                  ><p class="far fa-users"></p>
                  Officials</a
                ></span
              >
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown-nav">
            <p class="far fa-user-circle"></p>
            <span class="nav-title" id="profile">Account</span>
            <hr />
            <div class="dropdown-content-nav">
              <span
                ><a href="./profile.html" id="slide-profile"
                  ><p class="far fa-user-cog"></p>
                  Profile</a
                ></span
              >
              <br />
              <span
                ><a
                  href="../../index.php"
                  id="slide-sign-out"
                  class="bdr-top-line"
                  ><p class="far fa-sign-out"></p>
                  Logout</a
                ></span
              >
            </div>
          </div>
        </li>
      </ul>
    </header>
    <nav class="side-nav">
      <div class="side-nav-logo">
        <img src="../font/assets/logo/idplogo.png" alt="" />
        <p id="nav-hd">WMSU IDP Generator</p>
      </div>
      <ul>
        <a href="./home.html"
          ><li class="active-sn"><span class="fas fa-home"></span>Home</li></a
        >
        <a href="./dashboard.html"
          ><li><span class="far fa-tachometer-alt"></span>Dashboard</li></a
        >
        <li id="label-settings">IDP Settings</li>
        <a href="./myIDP.html"
          ><li><span class="far fa-calendar"></span>My Schedule</li></a
        >
        <li id="label-settings">General Information</li>
        <a href="./matrix.html"
          ><li><span class="far fa-cogs"></span>Matrix</li></a
        >
        <a href="./officials.html"
          ><li><span class="far fa-users"></span>Officials</li></a
        ><!--
        <li id="label-settings">More Setting</li>
        <a href="#" onclick="openModal()"
          ><li><span class="far fa-font"></span>Font size</li></a
        >-->
      </ul>
    </nav>
    <main>
      <!--preloader-->
      <div class="loader">
        <div class="preloadermain">
          <div class="precircle"></div>
          <div class="preloader01"></div>
          <div class="preloader02"></div>
          <div class="preloader03"></div>
          <div class="preloader02"></div>
        </div>
        <div class="preloadermain1">
          <div class="preloader01"></div>
          <div class="preloader02"></div>
          <div class="preloader03"></div>
          <div class="preloader02"></div>
        </div>
        <div class="preloadermain">
          <div class="preloader01"></div>
          <div class="preloader02"></div>
          <div class="preloader03"></div>
          <div class="preloader02"></div>
        </div>
      </div>
      <script src="../font/preloader/loader.js"></script>
      
      <!--Introduction of IDP-->
      <div class="idp-info">
        <div class="info-statement">
          <h1>Individual Daily Program</h1>
          <br />
          <p>
            The IDP is a schedule generator that is being re-equip, some
            exciting features and user friendly web-app. The new IDP Generator
            can now be operate online.
          </p>
        </div>
        <img id="computer-img" src="../font/assets/bg/res.png" alt="" />
      </div>

      <!--The Dev Team-->
      <div class="dev-info">
        <div class="dev-statement">
          <h1>The Dev Team</h1>
          <br />
          <p>
            <b>2gether</b> is one of the few system integration, professional
            service and software development companies in Zamboanga. As a
            privately owned company, 2gether provides software design and
            development as well as consultation. We are a start-up company
            composed of six people working hand-in-hand to build up the future
            that were aiming for with hopes to cater quality and excellent
            services to our client, together we dream.
          </p>
        </div>
        <div class="dev-logo">
          <div class="line-l"></div>
          <img src="../font/assets/logo/logo.png" alt="" />
          <div class="line-r"></div>
        </div>
        <div class="dev-member">
          <div class="member">
            <div class="member-profile">
              <img src="../font/assets/devteam/justin.jpg" alt="" />
            </div>
            <div class="member-name">
              <h4>Justin Bancayrin</h4>
            </div>
            <div class="member-position">
              <p>Manager</p>
            </div>
          </div>
          <div class="member">
            <div class="member-profile">
              <img src="../font/assets/devteam/kat.jpg" alt="" />
            </div>
            <div class="member-name">
              <h4>Katreena Gonzales</h4>
            </div>
            <div class="member-position">
              <p>Business Analyst</p>
            </div>
          </div>
          <div class="member">
            <div class="member-profile">
              <img src="../font/assets/devteam/ed.jpg" alt="" />
            </div>
            <div class="member-name">
              <h4>Edmond Duran</h4>
            </div>
            <div class="member-position">
              <p>UX Designer</p>
            </div>
          </div>
        </div>
        <div class="dev-member">
          <div class="member">
            <div class="member-profile">
              <img src="../font/assets/devteam/jake.jpg" alt="" />
            </div>
            <div class="member-name">
              <h4>Vhenezel Tuble</h4>
            </div>
            <div class="member-position">
              <p>UI Designer</p>
            </div>
          </div>
          <div class="member">
            <div class="member-profile">
              <img src="../font/assets/devteam/james.jpg" alt="" />
            </div>
            <div class="member-name">
              <h4>James Francisco</h4>
            </div>
            <div class="member-position">
              <p>Lead Developer</p>
            </div>
          </div>
          <div class="member">
            <div class="member-profile">
              <img src="../font/assets/devteam/derv.jpg" alt="" />
            </div>
            <div class="member-name">
              <h4>Dervyn Macadaya</h4>
            </div>
            <div class="member-position">
              <p>Quality Assurance Engineer</p>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <p>
          <img
            id="img-footer"
            src="../font/assets/logo/wmsulogo.png"
            alt="IDP"
          />All Rights Reserved &copy 2021 WMSU IDP
          <img
            id="img-footer"
            src="../font/assets/logo/idplogo.png"
            alt="IDP"
          />
        </p>
      </footer>
    </main>

    <!--FONT-->
    <!--
    <div class="font-container" id="font01">
      <div class="font-content">
        <form action="">
          <h2><span class="far fa-cog"></span> Settings</h2>
          <br />
          <div class="font-con">
            <p>Font Size:</p>
            <input type="radio" name="font" />
            <label for="font" id="df">default</label>
            <input type="radio" name="font" />
            <label for="font" id="ei">18</label>
            <input type="radio" name="font" />
            <label for="font" id="tw">20</label>
          </div>

          <div class="college-button">
            <button id="cancel" onclick="closeModal()">
              <span class="fas fa-times"></span> Cancel
            </button>
            <button type="submit" id="submit">
              <span class="fas fa-check"></span> Save
            </button>
          </div>
        </form>
      </div>
    </div>
    <script>
      function openModal() {
        document.getElementById("font01").style.display = "block";
      }
      function closeModal() {
        document.getElementById("font01").style.display = "none";
      }
    </script>-->

    <!-- End // .directional_nav -->
    <script src="../font/jQuery/jquery-3.5.1.min.js"></script>
    <script src="./stylesheet/jQuery/slider.js"></script>
  </body>
</html>
