main {
  width: 85%;
  position: absolute;
  top: 57px;
  right: 0;
  background: rgb(250, 250, 250);
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.welcome {
  line-height: 22px;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 10px 20px;
  padding-bottom: 50px;
  background: url(../../../font/assets/bg/25102.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  color: rgb(130, 0, 0);
  border-bottom: 10px solid rgb(212, 213, 218);
}
.legend {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.lgnd {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
/*time*/
.time {
  padding: 10px;
  margin: 10px;
}

#clock {
  display: none;
  font-family: "Share Tech Mono", monospace;
  text-align: center;
  color: rgb(140, 0, 0);
  background: rgba(255, 255, 255, 0.103);
  text-shadow: 0 10px 20px rgb(149, 149, 149);
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.4);
  padding: 0px 10px;
  margin-bottom: 10px;
  border-radius: 1rem;
  border: 1px solid rgba(200, 250, 205, 0.1);
}
#time {
  letter-spacing: 0.05em;
  font-size: 40px;
  padding: 5px 0;
  font-weight: 800;
  line-height: 1;
}

#date {
  letter-spacing: 0.1em;
  font-size: 14px;
}
.welcome img {
  width: 4rem;
  height: 4rem;
  margin-right: 10px;
}
.welcome #h1 {
  font-size: 20px;
  display: flex;
  align-items: center;
}
.welcome span {
  width: 2rem;
}
.dash-icon {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
.out-icon {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -80px;
}
.out-icon p {
  opacity: 0.8;
  font-size: 30px;
  position: absolute;
  color: rgb(150, 150, 150);
  z-index: 1;
}
.icon {
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  border: 10px solid rgb(212, 213, 218);
  border-radius: 50%;
}
#ico1 {
  animation: load 2s linear infinite alternate;
  border-right-color: rgb(33, 149, 134);
}
#ico2 {
  animation: load 3s linear infinite alternate;
  border-right-color: rgb(255, 88, 88);
}
#ico3 {
  animation: load 4s linear infinite alternate;
  border-right-color: rgb(218, 134, 0);
}
@keyframes load {
  20% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

/*section*/
.section-content {
  padding: 20px 0;
  border-radius: 50px 50px 0 0;
}
section {
  margin: auto;
  width: 90%;
  padding: 0 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.content {
  margin: 0;
  width: 18rem;
  background: url(../../../font/assets/bg/25101.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 0px 5px -2px rgb(100, 100, 100);
  flex-direction: column;
  transition: 0.3s;
}
.btn {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn button {
  width: 10rem;
  border-radius: 5px;
  font-size: 16px;
  background: rgb(160, 0, 0);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 10px;
  border: none;
  opacity: 0.8;
  outline: none;
  transition: 0.3s;
}
.btn button:hover {
  opacity: 1;
  box-shadow: 0px 0px 5px -2px rgb(78, 78, 78);
  background: rgb(255, 255, 255);
  color: rgb(160, 0, 0);
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(200, 200, 200);
  width: 4rem;
  height: 4rem;
  padding: 10px;
  border-radius: 50%;
  margin: 10px auto 20px auto;
}
#icoco1 {
  background: rgb(33, 149, 134);
}
#icoco2 {
  background: rgb(255, 88, 88);
}
#icoco3 {
  background: rgb(218, 134, 0);
}
.img span {
  color: rgb(255, 255, 255);
  font-size: 30px;
}
.description {
  height: 9rem;
  padding: 5px 30px;
  line-height: 18px;
  color: rgb(80, 80, 80);
  text-align: justify;
}
.description h4 {
  text-align: center;
  color: rgb(140, 0, 0);
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 10px;
}
footer {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 100%;
  padding: 5px;
  margin-top: 40px;
  background: rgb(200, 200, 200);
  color: rgb(70, 70, 70);
  text-align: center;
}
footer p {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer #img-footer {
  width: 1.5rem;
  margin: 0 3px;
}
@media screen and (max-width: 767px) {
  main {
    width: 100%;
  }
  .welcome {
    flex-direction: column;
    background-position-x: 50%;
  }
  .out-icon {
    width: 5rem;
    height: 5rem;
    margin-top: -55px;
  }
  section {
    width: 100%;
    flex-direction: column;
  }
  .content {
    width: 100%;
    margin-bottom: 20px;
  }
  .legend {
    flex-direction: column-reverse;
  }
  .lgnd,
  .time {
    margin: 0;
  }
  .out-icon p {
    font-size: 20px;
  }
}
